<html>
	<head>
		<title> Node Project</title>
		<link href="/css/style.css" type='text/css' rel="stylesheet">	
	</head>
	<body>
		<h2>This is the home page joor.</h2>
		<img src="/images/node_express.jpeg" />	
	</body>
</html>